@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}
*:not(strong) {
    font-weight: lighter;
}
*::selection {
    background: none;
}
*::-webkit-scrollbar {
    opacity: 0;
}
*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.125);
    width: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
}
html,
body {
    background-color: #666;
    height: 100%;
}
p,
input {
    font-size: 12px;
}
*:focus {
    outline: none;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}
input[type=date] {
    border: none;
}
i {
    vertical-align: middle;
}
#menu {
    align-items: center;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 200px;
    position: fixed;
    right: 200px;
    top: 50px;
}
#menu div {
    background-color: #999;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
#menu h1 {
    color: #fff;
    font-size: 24px;
    padding: 10px;
}
.frame {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
#window {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    transform: translateY(100%);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    width: 100%;
}
.show {
    transform: translateY(0) !important;
}
.top {
    align-items: center;
    background-color: #333;
    display: flex;
    -webkit-app-region: drag;
}
.top img {
    height: 20px;
    margin-left: 10px;
    width: 20px;
}
.top p {
    color: #fff;
    flex-grow: 1;
    padding: 10px;
}
.top i {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    opacity: 1;
    -webkit-app-region: no-drag;
}
.main {
    display: flex;
    height: 100%;
}
.selector {
    background-color: #ddd;
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    max-width: 200px;
}
#project {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#project div {
    background-color: #eee;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.selector .add p {
    padding: 10px;
    text-align: center;
}
.selector .add i {
    font-size: 18px;
}
#project i {
    color: #000;
    font-size: 18px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(50px, -50%);
}
#project i:last-child {
    right: 10px;
}
#project p {
    max-width: calc(100% - 50px);
}
#project .selected i {
    transform: translate(0, -50%);
}
.selected {
    background-color: #3c9 !important;
    color: #fff;
    transition: 0.2s;
}
.column {
    display: flex;
    flex-basis: calc(100% - 200px);
    flex-direction: column;
    overflow: hidden;
}
#category {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.column .add i {
    margin: 10px;
}
.frame h1 {
    background-color: #096;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
h1 i {
    opacity: 1;
    position: absolute;
    right: 10px;
}
.item {
    align-items: center;
    border-bottom: 1px solid #eee;
    display: flex;
    margin: 10px 10px 0 10px;
    overflow: hidden;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes glide {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}
.date {
    align-self: stretch;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex: 0 0 100px;
    text-align: right;
}
.item div {
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.item h2 {
    font-size: 16px;
}
.item h2::selection,
.selector p[contenteditable=true]::selection {
    background-color: rgba(0, 0, 0, 0.25);
}
.item h2,
.selector p {
    overflow: hidden;
    white-space: nowrap;
}
i {
    cursor: pointer;
    opacity: 0.25;
    transition: 0.1s;
}
i:hover {
    opacity: 0.5;
}